.section {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  background-color: rgba(241, 233, 248, 0.3);
  transition: color, 0.5s ease 0s;
  margin-bottom: 48px;
}

.section:hover {
  transition: color, 0.5s ease 0s;
  background-color: rgba(255, 255, 255, 0.7);
}

.section::after {
  position: relative;
  top: 37px;
  left: 0px;
  padding: 5px 10px 3px 10px;
  background-color: rgba(240, 5, 230, 0.3);
  content: "......";
  color: rgba(0,0,0,0);
  border-radius: 0px 0px 10px 10px;
}
